.formContainer {
  display: grid;
  gap: 1rem;
  width: 100%;
}

.customForm {
  display: grid;
  font-weight: 700;
  color: #8b8e93;
}

.customBlueBtn {
  background: #3653fe;
  border: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: #ffffff;
  margin-top: 2rem;
}

.customInput {
  border: 1px solid #8b8e93;
  border-radius: 0.2rem;
  padding: 0.3rem;
}
