.filterBAr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 0 22px;
}

.bubblesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
